@font-face {
  font-family: "iconfont"; /* Project id 3249209 */
  /* Color fonts */
  src: 
       url('./iconfont.woff2') format('woff2'),
       url('./iconfont.woff') format('woff'),
       url('./iconfont.ttf') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 20px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-gongjuxiang:before {
  content: "\e61e";
}

.icon-gouwu:before {
  content: "\e899";
}

.icon-GitHub:before {
  content: "\ea0a";
}

.icon-shejiao:before {
  content: "\e6c2";
}

.icon-QQyinle:before {
  content: "\e614";
}

.icon-sing:before {
  content: "\e6b6";
}

.icon-youxiang:before {
  content: "\e908";
}

.icon-OUTLOOK:before {
  content: "\e641";
}

.icon-instagram:before {
  content: "\e87f";
}

.icon-suning:before {
  content: "\e683";
}

.icon-wangyiyunyinle:before {
  content: "\e605";
}

.icon-tmall:before {
  content: "\e606";
}

.icon-jingdong:before {
  content: "\e607";
}

.icon-kugouyinle:before {
  content: "\ea90";
}

.icon-yinle:before {
  content: "\e62d";
}

.icon-douban:before {
  content: "\e703";
}

.icon-QQyouxiang:before {
  content: "\e61d";
}

.icon-tencent:before {
  content: "\e608";
}

.icon-baidutieba:before {
  content: "\e60a";
}

.icon-twitter:before {
  content: "\ea08";
}

.icon-facebook:before {
  content: "\ea0c";
}

.icon-QX-kuwoyinle:before {
  content: "\e797";
}

.icon-aliyouxiang:before {
  content: "\e770";
}

.icon-ximalaya:before {
  content: "\e6a8";
}

.icon-baidu:before {
  content: "\e612";
}

.icon-wu:before {
  content: "\eb51";
}

.icon-shejiaotubiao-06:before {
  content: "\e642";
}

.icon-shejiaotubiao-08:before {
  content: "\e643";
}

.icon-zhihu:before {
  content: "\e7f8";
}

.icon-migu:before {
  content: "\e6d0";
}

.icon-amazon-square-fill:before {
  content: "\ea93";
}

.icon-aiqiyi:before {
  content: "\e620";
}

.icon-dangdang:before {
  content: "\e669";
}

.icon-wangyiyanxuan:before {
  content: "\e6bc";
}

.icon-xinlangyouxiang_24:before {
  content: "\e6ed";
}

.icon-wangyiyouxiang_24:before {
  content: "\e645";
}

.icon-youku:before {
  content: "\e674";
}

.icon-bilibilixiao:before {
  content: "\e600";
}

.icon-zhongguoditu:before {
  content: "\e62c";
}

.icon-a-shipinzaixianshipinduanshipin:before {
  content: "\e6a9";
}

